<div class="h-100" *ngIf="!loading">
  <button *ngIf="partie.id" type="button" class="btn btn-primary mb-3" routerLink="/history"><i class="fas fa-long-arrow-alt-left"></i></button>
  <button *ngIf="!partie.id" type="button" class="btn btn-primary mb-3" routerLink="/"><i class="fas fa-long-arrow-alt-left"></i></button>
  <span class="d-flex justify-content-between align-items-center">

    <ng-container *ngIf="partie.id; else newPartie">
      
      <h2><i class="fas fa-pencil-alt"></i> Modification de la partie {{partie.id}}</h2>
      <h5><button class="badge btn btn-success" (click)="onSubmit()">Sauvegarder les changements</button></h5>
      
    </ng-container>
    
    <ng-template #newPartie>
      
      <h2><i class="fas fa-star"></i> Nouvelle partie</h2>
      <h5><button class="badge btn btn-success" (click)="onSubmit()">Créer la partie</button></h5>
      
    </ng-template>
    
  </span>


  <div class="mb-3">
    <small class="text-muted">{{partie.date}} <i class="fa-solid fa-calendar-days"></i></small>
    <div class="d-flex justify-content-between">
      <div *ngFor="let joueur of partie.joueurs" class="d-flex flex-column justify-content-center">
        <span class="d-flex align-items-center gap-2">
          <i class="fas fa-user"></i>
          <input [(ngModel)]="joueur.nom" type="text" class="form-control form-control-sm">
        </span>
        <span class="d-flex align-items-center gap-2">
          <i class="fa-solid fa-burger"></i>
          {{joueur.score}}
        </span>
      </div>
    </div>
  </div>

  <hr>

  <h4>Manches</h4>
  <div class="d-flex justify-content-between">
    <div class="d-flex flex-column gap-3">
      <button type="button" class="btn btn-outline-primary" (click)="onNewManche()">Nouvelle manche</button>
      <div *ngIf="manches.length > 0" class="btn-group-vertical">

        <ng-container *ngFor="let manche of manches; let i=index">
          <input [(ngModel)]="selectedManche" type="radio" class="btn-check" name="btnradio" id="btnradio{{i+1}}" [value]="manche">
          <label class="btn" [ngClass]="{'btn-outline-primary': manche.idPartie != -1, 'btn-outline-danger': manche.idPartie == -1}" for="btnradio{{i+1}}">Manche {{i+1}}</label>
        </ng-container>


      </div>
      <button *ngIf="this.manches.indexOf(this.selectedManche) != -1" type="button" class="btn btn-outline-danger" (click)="onSupprimerManche()">Supprimer</button>
      
    </div>

    <app-partie-manche *ngIf="selectedManche" [parent]="this" [manche]="selectedManche" [partie]="partie"></app-partie-manche>
    
  </div>
</div>