<button type="button" class="btn btn-primary mb-3" routerLink="/"><i class="fas fa-long-arrow-alt-left"></i></button>
<div *ngIf="partiesLoadEtat==etatChargement.LOADING">
  <div class="alert alert-info">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><strong> Chargement en cours...</strong><br> Merci de patienter quelques instants
  </div>
</div>
<div *ngIf="partiesLoadEtat==etatChargement.ERROR">
  <div class="alert alert-danger">
    <strong>Service non disponible</strong><br> Veuillez réessayer dans quelques instants
  </div>
</div>
<div *ngIf="partiesLoadEtat==etatChargement.LOADED">
  <h2><i class="fas fa-list-ul"></i> Historique</h2>
  <h3> <b>{{ (parties|async)?.length }}</b> parties jouées</h3><br>

  <app-partie-item [partie]="partie" *ngFor="let partie of (parties|async)"></app-partie-item>
  
</div>

