<div class="card d-flex justify-content-between p-3 pt-0 mb-3 gap-2 w-100">
    <div class="card-body">
      <h4 class="card-title text-center"><i class="fa-solid fa-gamepad"></i> Partie n°{{partie.id}} </h4>
        <small class="text-muted">{{partie.date}} <i class="fa-solid fa-calendar-days"></i></small>
        <div class="d-flex justify-content-between">
          <span *ngFor="let joueur of partie.joueurs" class="card-text">
            <i class="fa-solid fa-user"></i> {{joueur.nom}}
            <br>
            <i class="fa-solid fa-burger"></i> {{joueur.score}}
          </span>
        </div>
    </div>

    <div class="accordion accordion-flush" id="accordion{{partie.id}}">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" (click)="loadManches()" type="button" data-bs-toggle="collapse" attr.data-bs-target="#id{{partie.id}}" attr.aria-controls="{{partie.id}}">
            Détail
          </button>
        </h2>
        <div id="id{{partie.id}}" class="accordion-collapse collapse" attr.data-bs-parent="#accordion{{partie.id}}">
          <!-- start accordion -->
          <div *ngIf="manchesLoadEtat==etatChargement.LOADING">
            <div class="alert alert-info">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><strong> Chargement en cours...</strong><br> Merci de patienter quelques instants
            </div>
          </div>
          <div *ngIf="manchesLoadEtat==etatChargement.ERROR">
            <div class="alert alert-danger">
              <strong>Service non disponible</strong><br> Veuillez réessayer dans quelques instants
            </div>
          </div>
          <div *ngIf="manchesLoadEtat==etatChargement.LOADED">

            <div class="accordion-body">

              <h4> <b>{{ (manches|async)?.length }}</b> manches jouées</h4>
              <!-- <hr> -->

              <div class="d-flex flex-column gap-3 text-center">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col" *ngFor="let joueur of partie.joueurs">{{joueur.nom}}</th>
                    </tr>
                  </thead>
                  <tbody class="table-group-divider">
                    <tr *ngFor="let manche of manches|async; let i=index">
                      <th scope="col">{{i+1}}</th>
                      <td *ngFor="let score of manche.scores">
                        {{score}}
                      </td>
                    </tr>
                  </tbody>


                </table>

              </div>
              
            </div>

          </div>
          <!-- end accordion -->
        </div>
      </div>
    </div>
    <div class="btn-group" role="group" aria-label="Boutons modification partie">

      <button type="button" class="btn btn-primary btn-lg" routerLink="/{{partie.id}}">
        <i class="fa-solid fa-pencil-alt"></i>
      </button>

      <button id="btnSuppr{{partie.id}}" type="button" class="btn btn-lg" (click)="onSupprime($event)"
        [ngClass]="{'btn-warning': confirmDelete==false, 'btn-danger': confirmDelete == true}"
        data-bs-toggle="tooltip" data-bs-placement="bottom"
        data-bs-original-title="Etes-vous sûrs de vouloir supprimer cette partie ?">
        <i class="fa-solid fa-trash-can"></i>
      </button>

    </div>
</div>