<div class="card d-flex justify-content-between p-3 pt-0 mb-3 gap-2 w-100" (click)="confirmDelete = false">
    <div class="card-body">
      <h4 class="card-title text-center"><i class="fa-solid fa-gamepad"></i> Partie n°{{partie.id}} </h4>
        <small class="text-muted">{{partie.date}} <i class="fa-solid fa-calendar-days"></i></small>
        <div class="d-flex justify-content-between">
          <span *ngFor="let joueur of partie.joueurs" class="card-text">
            <i class="fa-solid fa-user"></i> {{joueur.nom}}
            <br>
            <i class="fa-solid fa-burger"></i> {{joueur.score}}
          </span>
          <!-- burgir = point -->
        </div>
    </div>

    <div class="accordion accordion-flush" [id]="'accordion'+partie.id">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" (click)="loadManches()" type="button" data-bs-toggle="collapse" attr.data-bs-target="#id{{partie.id}}" aria-expanded="true" attr.aria-controls="{{partie.id}}">
            Manches
          </button>
        </h2>
        <div [id]="'id'+partie.id" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" attr.data-bs-parent="#accordion{{partie.id}}">
          <!-- start accordion -->
          <div *ngIf="manchesLoadEtat==etatChargement.LOADING">
            <div class="alert alert-info">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><strong> Chargement en cours...</strong><br> Merci de patienter quelques instants
            </div>
          </div>
          <div *ngIf="manchesLoadEtat==etatChargement.ERROR">
            <div class="alert alert-danger">
              <strong>Service non disponible</strong><br> Veuillez réessayer dans quelques instants
            </div>
          </div>
          <div *ngIf="manchesLoadEtat==etatChargement.LOADED">

            <div class="accordion-body">
              <h4> <b>{{ (manches|async)?.length }}</b> manches jouées</h4>
            </div>

            <app-partie-item-manche
              *ngFor="let manche of manches|async"
              [manche]="manche">
            </app-partie-item-manche>

          </div>
          <!-- end accordion -->
        </div>
      </div>
    </div>
    <div class="btn-group" role="group" aria-label="Button group name">
      <button type="button" class="btn btn-primary btn-lg" routerLink="/{{partie.id}}"><i class="fa-solid fa-pencil-alt"></i></button>
      <button type="button" class="btn btn-lg" [ngClass]="{'btn-warning': confirmDelete==false, 'btn-danger': confirmDelete == true}" (click)="onSupprime($event)"
        data-bs-toggle="tooltip" data-bs-placement="bottom"
        data-bs-title="Etes-vous sûrs de vouloir supprimer cette partie ?">
        <i class="fa-solid fa-trash-can"></i>
      </button>
    </div>
</div>